
Body{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}

/* Heading */
.Home-Text-small{
    font-size: 1.2rem;
    line-height: 1.5;
}
.big-heading{
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'PT Serif', serif;
}

.big-heading span{
    color: #A5C9CA;
}
/* navbar */
.navbar{
    margin-bottom: 15%;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
}
.nav-link:hover{
    color: #fff;
}

/* Home */
#Home{
    background-color: #2C3333;
    color: #E7F6F2;
    
}
.Home{
    text-align: left;
}
.Home-text{
    text-align: center;
}

/* Home image */
.home-img{
    border-radius: 15px 50px;
    width: 50%;
}
.container-fluid{
    padding: 2% 15%;
}

.download-button
{
    margin: 3% 3% 5% 0;
}


/* Media queries */

@media (max-width:824px) {
    .Home{
        text-align: center;
    }
    .Home-Text-small{
        font-size: .8rem;
        line-height: 1.5;
    }
    .big-heading{
        font-size: 2.0rem;
        line-height: 1.5;
    }
}