*{
    list-style-type: none;
}
Body{
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    
}

i a{
    font-family: 'PT Sans', sans-serif;
}
/* Heading */
.Home-Text-small{
    font-size: 1.2rem;
    line-height: 1.5;
}
.big-heading{
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'PT Serif', serif;
}

.big-heading span{
    color: #A5C9CA;
}

.section-heading{
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: 'PT Sans', sans-serif;
    text-align: left;
    font-weight: 900;
}
.skills-heading{
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    padding: 2%;
    border: 2px solid #E7F6F2;
    margin-bottom: 5%;
}

/* navbar */
.navbar{
    margin-bottom: 15%;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
}
.nav-link:hover{
    color: #fff;
}

/* Home */
#Home{
    background-color: #2C3333;
    color: #E7F6F2;
}

.Home-text{
    text-align: center;
}

/* Home image */
.home-img{
    border-radius: 15px 50px;
    width: 50%;
    text-align: left;
}
.container-fluid{
    padding: 2% 15%;
}

.download-button
{
    margin: 3% 3% 5% 0;
}

/* AboutMe Page */
#About{
    background-color: #E7F6F2;
    text-align: left;
}

.About-img .home-img{
    width: 50%;
}

.About-BioData{
    padding: 2%;
    background-color: #395B64;
    border-radius: 15px 50px;
    color: #E7F6F2;
}
/* Skills page */
#skills{
    text-align: left;
    background-color: #395B64;
}
.timeline{
    color: #A5C9CA;
}
.progress{
    margin: 1% 0;
}
.progress-caption{
    color: #fff;
    text-align: left;
    font-size: 1rem;
}
    
/* Project Page */

#projects{
    text-align: center;
    background-color: #E7F6F2;
}
#projects h4{
    text-align: center;
}
.pricing-colums{
    padding: 3% 2%;
}
/* Contact Page*/
#contact{
    background-color: #2C3333;

}

.contact-icon{
    margin: 20px 10px;
}

.contact-card{
    border: 2px solid black;
    border-radius: 10px;
    color: #fff;
    margin: 10px 20px;
}
.form-text{
    text-align: left;
    color: #fff;
}
/* Footer */
#footer .container-fluid{
    text-align: center;
}
#footer .container-fluid{
    padding: 1% 15%;
    font-size: .5rem;
}
/* Media queries */

@media (max-width:824px) {


    .Home-Text-small{
        font-size: .8rem;
        line-height: 1.5;
    }
    .big-heading{
        font-size: 2.0rem;
        line-height: 1.5;
    }

    #About{
        text-align: center;
    }
    .About-BioData{
        text-align: justify;
        margin: 0% 5%;
    }
}

@media (max-width: 575px) { 
    .container-fluid{
        padding: 7% 2%;
    }
    .Home-Text-small{
        font-size: .5rem;
        line-height: 1.5;
    }
    .big-heading{
        font-size: 1.0rem;
        line-height: 1.5;
    }

}
